
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="row row-cols-1 justify-content-center gy-2">
    <form>
        <div class="col">
            <div class="form-floating">
                <input type="text" id="email_or_username" class="form-control" placeholder="Username or Email" />
                <label class="form-label">Username or Email</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="text" id="password" class="form-control" placeholder="Password" />
                <label class="form-label">Password</label>
            </div>
        </div>
    </form>
</div>

