
@{
    Layout = null;
}

<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
@Html.Partial("_Header")
<body>
    <div>
    </div>
</body>
</html>
